# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Node.js
node_modules/
frontend/dist/
frontend/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
backend/breacherr.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
